{% extends 'index_1.html' %}
{% block content %}
  <div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		
		<div class="full-width panel mdl-shadow--2dp">
		<div class="full-width panel-tittle bg-primary text-center titles">
			Cambio de Contraseña
		</div>
		<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="full-width panel-content">
				{% for field in form %}

				<label for="field.id_for_label" class="labelForm">{{ field.label }}</label>
				{{ field }}
				<br>

				{% endfor %}
				<input type="submit" value="Guardar">
			</div>
		</form>
		</div>
	</div>
</div>
{% endblock %}