{% extends 'index_1.html' %}
{% block content %}
	<div class="mdl-tabs__panel" id="tabListCategory">
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
						<div class="full-width panel mdl-shadow--2dp">
							<div class="full-width panel-tittle bg-primary text-center tittles">
								Lista de Categorias
							</div>
							<div class="full-width panel-content">
								{% for cat in object_list %}
								<div class="mdl-list">
									<div class="mdl-list__item mdl-list__item--two-line">
										<span class="mdl-list__item-primary-content">
											<i class="zmdi zmdi-label mdl-list__item-avatar"></i>
											<span>{{cat.name}}</span>
											<span class="mdl-list__item-sub-title">{{cat.desc}}</span>
										</span>
										<a class="mdl-list__item-secondary-action" href="{% url 'updateCategory' cat.id %}">
											<i class="zmdi zmdi-edit" style="padding-right: 8px; padding-left: 8px; font-size: 25px;"></i>
										</a>
										<a class="mdl-list__item-secondary-action" href="{% url 'deleteCategory' cat.id %}">
											<i class="zmdi zmdi-delete" style="padding-right: 8px; padding-left: 8px; font-size: 25px;"></i>
										</a>
										
									</div>
									<li class="full-width divider-menu-h"></li>
								</div>
								{% endfor %}
							</div>
						</div>
						<p class="text-center">
							<a href="{% url 'addCategory' %}"
								style="font-size: 40px;" 
							>
							<i class="zmdi zmdi-plus"></i></a>
						</p>
					</div>
				</div>
			</div>
{% endblock %}